body {
    background-color: BlanchedAlmond;
}

#app-wrapper {
    padding: 15px;
}

#button-wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

#button-wrapper>button {
    padding: 5px;
    margin: 0 10px 0 10px;
    border-radius: 5px;
    background-color: LightSeaGreen;
}

#button-wrapper>button:hover {
    padding: 5px;
    margin: 0 10px 0 10px;
    /* border-radius: 5px; */
    background-color: white;
    font: grey;
}

#search-bar {
    width: 150px;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background-color: LavenderBlush;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
    border-radius: 5px;
}

#columns-wrapper {
    padding: 0 15px 0 15px;
    display: flex;
    justify-content: flex-start;
}

column-task {
    margin: 0 5px 0 5px;
}